---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Confianza y experiencia",
    description:
      "En OBMAIN ofrecemos soluciones integrales en construcción, mantenimiento eléctrico y mecánico, garantizando calidad, seguridad y cumplimiento. Nuestros clientes nos eligen porque transformamos cada proyecto en un resultado confiable y duradero.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Diferenciadores claros",
    description:
      "En OBMAIN contamos con una experiencia comprobada gracias a nuestra trayectoria en obras civiles, eléctricas y mecánicas, lo que nos permite garantizar la calidad de cada proyecto mediante la aplicación de estándares y normatividad vigente.",
    icon: "bx:bxs-award",
  },
  {
    title: "Cercanía con el cliente",
    description:
      "Elegirnos significa contar con un aliado estratégico. Nos destacamos por la honestidad, la transparencia y la dedicación en cada etapa del proceso, generando confianza y aportando al desarrollo económico y social del Tolima y la región.",
    icon: "bx:bxs-user-check",
  },
];
---

<div class="mt-16 md:mt-0" id="feature">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    ¿POR QUÉ ELEGIR A OBMAIN?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Transformamos sus ideas en resultados confiables y duraderos.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
