---
// @ts-ignore
import celsia from "../assets/logos/celsia.png";
import inversionesAgrosos from "../assets/logos/inversionesAgrosos.png";
import umbrella from "../assets/logos/umbrella.png";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500 text-3xl">CLIENTES Y ALIADOS ESTRATÉGICOS</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img
      src={inversionesAgrosos.src}
      alt="Inversiones Agrosos"
      class="size-30 md:size-40"
    />
    <img src={celsia.src} alt="Celsia" class="size-30 md:size-40" />
    <!-- <img src={umbrella.src} alt="Umbrella" class="size-30 md:size-40" /> -->
    
  </div>
</div>
